/* Додатковий імпорт стилів */
@import url('simplelightbox/dist/simple-lightbox.min.css');

.gallery {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin: 0 auto;
}

.gallery-image {
	object-fit: cover;
	height: 100%;
	max-height: 200px;
	transition: transform 0.3s ease 0s;
}

.gallery-link {
	outline: none;
}

.gallery-link:hover .gallery-image,
.gallery-link:focus .gallery-image {
	transform: scale(1.04);
}

@media (min-width: 480px) {
	.gallery {
		padding: 20px;
		flex-direction: row;
		gap: 20px;
		flex-wrap: wrap;
	}

	.gallery-item {
		width: calc((100% - 20px) / 2);
	}
}

@media (min-width: 768px) {
	.gallery {
		padding: 24px;
		gap: 24px;
		max-width: 1176px;
	}

	.gallery-item {
		width: calc((100% - 24px * 2) / 3);
	}
}

.simple-lightbox {
	background: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-close {
	color: #fff;
}

.sl-wrapper .sl-navigation button {
	color: #fff;
}

.sl-wrapper .sl-counter {
	color: #fff
}